* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: linear-gradient(to right, #F2D5A0, #D9AB73, #A66249, #734230, #402319);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div.horas {
    display: flex;
    transform: translateY(-10px);
}

div.data {
    display: flex;
    transform: translateY(-25px);

}

div.registrar {
    display: flex;
    transform: translateY(20px);
}

button {
    display: flex;
    width: 150px;
    height: 70px;
    font-size:30px;
    font-weight: initial;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #dddddd;
    background-image: linear-gradient(to right, #F2D5A0, #D9AB73, #A66249, #734230, #402319);
}

button:hover {
    background-image: linear-gradient(to left,  #F2D5A0, #D9AB73, #A66249, #734230, #402319);
}

main {
    background-image: linear-gradient(to left,  #F2D5A0, #D9AB73, #A66249, #734230, #402319);
    color: white;
    height: 400px;
    width: 400px;
    padding: 10px;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 7px #40231983;
}

div {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}

div.registro-ponto {
    transform: translateY(-70px);
}